In [4]:
import pandas as pd 
l=[1,2,3,65,7,3]
l

[1, 2, 3, 65, 7, 3]

In [5]:
#ilk argüman; hangi veriyi oluşturacaksın? = liste(l)
#2. argüman, ilimlendirmek ister misin? ---Yazmasakta çalışır.---
pd.DataFrame(l,columns=["degisken_ismi"])

   degisken_ismi
0              1
1              2
2              3
3             65
4              7
5              3

In [5]:
import numpy as np
m=np.arange(1,10).reshape((3,3))
m

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [14]:
df=pd.DataFrame(m,columns=["a","b","c"])
df.columns=["x","y","z"]
df

   x  y  z
0  1  2  3
1  4  5  6
2  7  8  9

In [15]:
df.axes

[RangeIndex(start=0, stop=3, step=1), Index(['x', 'y', 'z'], dtype='object')]

In [16]:
df.shape

(3, 3)

In [17]:
df.ndim

2

In [18]:
df.size

9

In [19]:
df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [20]:
df.head(1)

   x  y  z
0  1  2  3

In [21]:
df.tail(1)

   x  y  z
2  7  8  9