In [2]:
import pandas as pd
import numpy as np

In [4]:
m=np.random.randint(1,30,size=(10,3))
df=pd.DataFrame(m,columns=["var1","var2","var3"])
df
df=pd.DataFrame(m,columns=["var1","var222","var3"])
df

   var1  var222  var3
0     1      22    11
1    16      22    25
2    28       1    16
3    10      23     2
4    24       6    10
5    19      15    11
6    14      16     9
7    10      15    22
8    16       5    14
9    14      13     3

In [5]:
#loc: tanımlandığı şekli ile seçim yapmak için kullanılır
df.loc[0:3]

   var1  var222  var3
0     1      22    11
1    16      22    25
2    28       1    16
3    10      23     2

In [6]:
# iloc:alışık olduğumuz indeksleme mantığı ile seçim yapar
df.iloc[0:3]

   var1  var222  var3
0     1      22    11
1    16      22    25
2    28       1    16

In [7]:
df.loc[0:3,"var3"]

0    11
1    25
2    16
3     2
Name: var3, dtype: int32

In [8]:
#df.iloc[0:3,"var3"]
#bu şekilde lokasyon verilecekse iloc değil, loc kullanılır
#ÜSTTEKİ GİBİ. "var3"
#bu sorun aşağıdaki gibi çözülebilir.
df.iloc[0:3]["var3"]

0    11
1    25
2    16
Name: var3, dtype: int32