In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
df = pd.DataFrame({'gruplar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'veri': [10,11,52,23,43,55]}, columns=['gruplar', 'veri'])
df

  gruplar  veri
0       A    10
1       B    11
2       C    52
3       A    23
4       B    43
5       C    55

In [8]:
#mesela burada olduğu gibi A, B, C sınıflarından birsürü farklı not verisi varsa,
#ve A sınıfının ortaşlamasını merak ediyor isek,
df.groupby("gruplar")
#üstte dedik ki, df'ye git. Gruplar degiskenindeki a,b,c yi tut

In [9]:
df.groupby("gruplar").mean()
#ortalamasını aldık

         veri
gruplar
A        16.5
B        27.0
C        53.5

In [10]:
#ve bize, A,B,C ninortalamasını ayrı ayrı aldı

#işi karmaşıklaştıralım
import seaborn as sns
df = sns.load_dataset("planets")
df.head(15)

             method  number  orbital_period   mass  distance  year
0   Radial Velocity       1         269.300   7.10     77.40  2006
1   Radial Velocity       1         874.774   2.21     56.95  2008
2   Radial Velocity       1         763.000   2.60     19.84  2011
3   Radial Velocity       1         326.030  19.40    110.62  2007
4   Radial Velocity       1         516.220  10.50    119.47  2009
5   Radial Velocity       1         185.840   4.80     76.39  2008
6   Radial Velocity       1        1773.400   4.64     18.15  2002
7   Radial Velocity       1         798.500    NaN     21.41  1996
8   Radial Velocity       1         993.300  10.30     73.10  2008
9   Radial Velocity       2         452.800   1.99     74.79  2010
10  Radial Velocity       2         883.000   0.86     74.79  2010
11  Radial Velocity       1         335.100   9.88     39.43  2009
12  Radial Velocity       1         479.100   3.88     97.28  2008
13  Radial Velocity       3        1078.000   2.53     14.08  1996
14  Radial Velocity       3        2391.000   0.54     14.08  2001

In [11]:
df.groupby("method")

In [12]:
df.groupby("method")["orbital_period"].mean()
#burada orbital_period'u yazdık. Çünkü bir sürü değişke var.
#hnangisine işlem uygulayacak söylemeliyiz.

method
Astrometry                          631.180000
Eclipse Timing Variations          4751.644444
Imaging                          118247.737500
Microlensing                       3153.571429
Orbital Brightness Modulation         0.709307
Pulsar Timing                      7343.021201
Pulsation Timing Variations        1170.000000
Radial Velocity                     823.354680
Transit                              21.102073
Transit Timing Variations            79.783500
Name: orbital_period, dtype: float64

In [1]:
df.groupby("method")["orbital_period"].describe()

NameError: name 'df' is not defined