In [1]:
import numpy as np
import pandas as pd
V1 = np.array([1,3,6,np.NaN,7,1,np.NaN,9,15])
V4 = np.array(["IT",np.nan,"IT","IT","IK","IK",np.nan,"IK","IT"], dtype=object)

df = pd.DataFrame(
        {"maas" : V1,
        "departman" : V4}        
)

df

   maas departman
0   1.0        IT
1   3.0       NaN
2   6.0        IT
3   NaN        IT
4   7.0        IK
5   1.0        IK
6   NaN       NaN
7   9.0        IK
8  15.0        IT

In [2]:
#en verimli ve kullanılan yöntem ilgili değişkenin modunu, en çok kullanılan degerini atamaktır

In [3]:
df["departman"].mode()

0    IT
dtype: object

In [4]:
df["departman"].mode()[0] # [0] ı alınca string olarak modu alır.

'IT'

In [5]:
df["departman"].fillna(df["departman"].mode()[0])

0    IT
1    IT
2    IT
3    IT
4    IK
5    IK
6    IT
7    IK
8    IT
Name: departman, dtype: object

In [44]:
# eksik değerleri sonrasındaki değerler ile doldurmak istediğimizde,
#method="bfill argümanını ekleriz"
df["departman"].fillna(method="bfill")

0    IT
1    IT
2    IT
3    IT
4    IK
5    IK
6    IK
7    IK
8    IT
Name: departman, dtype: object

In [ ]:
# eksik değerleri sonrasındaki değerler ile doldurmak istediğimizde,
#method="bfill argümanını ekleriz"
df["departman"].fillna(method="ffill") #ise sonraki deger ile doldurma işlemi.