In [112]:
import seaborn as sns
import pandas as pd
df = sns.load_dataset('diamonds')
df = df.select_dtypes(include = ['float64', 'int64']) 
df = df.dropna() # aykırı degerler ile rahat ugraşmak için eksik değerlerin hepsini sildik.
df.head()

   carat  depth  table  price     x     y     z
0   0.23   61.5   55.0    326  3.95  3.98  2.43
1   0.21   59.8   61.0    326  3.89  3.84  2.31
2   0.23   56.9   65.0    327  4.05  4.07  2.31
3   0.29   62.4   58.0    334  4.20  4.23  2.63
4   0.31   63.3   58.0    335  4.34  4.35  2.75

In [113]:
df_table=df["table"]
df_table.head()

0    55.0
1    61.0
2    65.0
3    58.0
4    58.0
Name: table, dtype: float64

In [114]:
Q1=df_table.quantile(0.25)
Q3=df_table.quantile(0.75)
Q1

56.0

In [115]:
Q3

59.0

In [116]:
IQR=Q3-Q1
alt_sinir=Q1-IQR*1.5
alt_sinir

51.5

In [117]:
ust_sinir=Q3+1.5*IQR
ust_sinir

63.5

In [118]:
x=(df["table"]<alt_sinir)
x

for i in x:
    if i==True:
        print("d")

d
d
d
d
d
d
d
d
d
d
d
d
d
d
d
d

In [119]:
df_table[x]=alt_sinir

C:\Users\bedir\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [120]:
df_table[x]

1515     51.5
3238     51.5
3979     51.5
4150     51.5
5979     51.5
7418     51.5
8853     51.5
11368    51.5
22701    51.5
25179    51.5
26387    51.5
33586    51.5
35633    51.5
45798    51.5
46040    51.5
47630    51.5
Name: table, dtype: float64

In [121]:
df["table"][x]=alt_sinir

C:\Users\bedir\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [122]:
df["table"][x]

1515     51.5
3238     51.5
3979     51.5
4150     51.5
5979     51.5
7418     51.5
8853     51.5
11368    51.5
22701    51.5
25179    51.5
26387    51.5
33586    51.5
35633    51.5
45798    51.5
46040    51.5
47630    51.5
Name: table, dtype: float64

# çok değişkenli aykırı gözlem analizi
### 17 yaşında 3 çocuk sahibi gibi

In [123]:
import numpy as np
from sklearn.neighbors import LocalOutlierFactor

In [124]:
clf=LocalOutlierFactor(n_neighbors=20,contamination=0.1)

In [125]:
clf.fit(df)

LocalOutlierFactor(algorithm='auto', contamination=0.1, leaf_size=30,
                   metric='minkowski', metric_params=None, n_jobs=None,
                   n_neighbors=20, novelty=False, p=2)

In [126]:
df_scores=clf.negative_outlier_factor_

In [127]:
np.sort(df_scores)[0:10]
x=np.sort(df_scores)[0:14]
x

array([-8.60430658, -8.20889984, -5.86084355, -4.98415175, -4.81502092,
       -4.81502092, -4.37081214, -4.29842288, -4.10492387, -4.0566648 ,
       -4.01831733, -3.94882806, -3.82378797, -3.80135297])

In [128]:
import seaborn as sns

In [129]:
esik_deger=np.sort(df_scores)[13]
esik_deger

-3.8013529665815327

In [130]:
yeni_df=df[df_scores>esik_deger]

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53940 entries, 0 to 53939
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   carat   53940 non-null  float64
 1   depth   53940 non-null  float64
 2   table   53940 non-null  float64
 3   price   53940 non-null  int64
 4   x       53940 non-null  float64
 5   y       53940 non-null  float64
 6   z       53940 non-null  float64
dtypes: float64(6), int64(1)
memory usage: 3.3 MB

In [132]:
yeni_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53926 entries, 0 to 53939
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   carat   53926 non-null  float64
 1   depth   53926 non-null  float64
 2   table   53926 non-null  float64
 3   price   53926 non-null  int64
 4   x       53926 non-null  float64
 5   y       53926 non-null  float64
 6   z       53926 non-null  float64
dtypes: float64(6), int64(1)
memory usage: 3.3 MB

In [133]:
df[df_scores==esik_deger]

       carat  depth  table  price    x     y     z
38053   0.34   54.0   56.0   1012  4.8  4.76  2.58

In [149]:
baskı_degeri=df[df_scores==esik_deger]

In [150]:
aykirilar=df[df_scores<esik_deger]
aykirilar

       carat  depth  table  price     x      y      z
6341    1.00   44.0   53.0   4032  6.31   6.24   4.12
10377   1.09   43.0   54.0   4778  6.53   6.55   4.12
24067   2.00   58.9   57.0  12210  8.09  58.90   8.06
31230   0.45   68.6   57.0    756  4.73   4.50   3.19
36503   0.30   51.0   67.0    945  4.67   4.62   2.37
38840   0.73   70.8   55.0   1049  5.51   5.34   3.84
41918   1.03   78.2   54.0   1262  5.72   5.59   4.42
45688   0.70   71.6   55.0   1696  5.47   5.28   3.85
48410   0.51   61.8   54.7   1970  5.12   5.15  31.80
49189   0.51   61.8   55.0   2075  5.15  31.80   5.12
50773   0.81   68.8   79.0   2301  5.26   5.20   3.58
52860   0.50   79.0   73.0   2579  5.21   5.18   4.09
52861   0.50   79.0   73.0   2579  5.21   5.18   4.09

In [159]:
res=aykirilar.to_records(index=False)
res

rec.array([(1.  , 44. , 53. ,  4032, 6.31,  6.24,  4.12),
           (1.09, 43. , 54. ,  4778, 6.53,  6.55,  4.12),
           (2.  , 58.9, 57. , 12210, 8.09, 58.9 ,  8.06),
           (0.45, 68.6, 57. ,   756, 4.73,  4.5 ,  3.19),
           (0.3 , 51. , 67. ,   945, 4.67,  4.62,  2.37),
           (0.73, 70.8, 55. ,  1049, 5.51,  5.34,  3.84),
           (1.03, 78.2, 54. ,  1262, 5.72,  5.59,  4.42),
           (0.7 , 71.6, 55. ,  1696, 5.47,  5.28,  3.85),
           (0.51, 61.8, 54.7,  1970, 5.12,  5.15, 31.8 ),
           (0.51, 61.8, 55. ,  2075, 5.15, 31.8 ,  5.12),
           (0.81, 68.8, 79. ,  2301, 5.26,  5.2 ,  3.58),
           (0.5 , 79. , 73. ,  2579, 5.21,  5.18,  4.09),
           (0.5 , 79. , 73. ,  2579, 5.21,  5.18,  4.09)],
          dtype=[('carat', '<f8'), ('depth', '<f8'), ('table', '<f8'), ('price', '<i8'), ('x', '<f8'), ('y', '<f8'), ('z', '<f8')])

In [160]:
res[:]= baskı_degeri.to_records(index=False)
res

rec.array([(0.34, 54., 56., 1012, 4.8, 4.76, 2.58),
           (0.34, 54., 56., 1012, 4.8, 4.76, 2.58),
           (0.34, 54., 56., 1012, 4.8, 4.76, 2.58),
           (0.34, 54., 56., 1012, 4.8, 4.76, 2.58),
           (0.34, 54., 56., 1012, 4.8, 4.76, 2.58),
           (0.34, 54., 56., 1012, 4.8, 4.76, 2.58),
           (0.34, 54., 56., 1012, 4.8, 4.76, 2.58),
           (0.34, 54., 56., 1012, 4.8, 4.76, 2.58),
           (0.34, 54., 56., 1012, 4.8, 4.76, 2.58),
           (0.34, 54., 56., 1012, 4.8, 4.76, 2.58),
           (0.34, 54., 56., 1012, 4.8, 4.76, 2.58),
           (0.34, 54., 56., 1012, 4.8, 4.76, 2.58),
           (0.34, 54., 56., 1012, 4.8, 4.76, 2.58)],
          dtype=[('carat', '<f8'), ('depth', '<f8'), ('table', '<f8'), ('price', '<i8'), ('x', '<f8'), ('y', '<f8'), ('z', '<f8')])

In [161]:
df.head()

   carat  depth  table  price     x     y     z
0   0.23   61.5   55.0    326  3.95  3.98  2.43
1   0.21   59.8   61.0    326  3.89  3.84  2.31
2   0.23   56.9   65.0    327  4.05  4.07  2.31
3   0.29   62.4   58.0    334  4.20  4.23  2.63
4   0.31   63.3   58.0    335  4.34  4.35  2.75

In [165]:
df[esik_deger>df_scores]

       carat  depth  table  price     x      y      z
6341    1.00   44.0   53.0   4032  6.31   6.24   4.12
10377   1.09   43.0   54.0   4778  6.53   6.55   4.12
24067   2.00   58.9   57.0  12210  8.09  58.90   8.06
31230   0.45   68.6   57.0    756  4.73   4.50   3.19
36503   0.30   51.0   67.0    945  4.67   4.62   2.37
38840   0.73   70.8   55.0   1049  5.51   5.34   3.84
41918   1.03   78.2   54.0   1262  5.72   5.59   4.42
45688   0.70   71.6   55.0   1696  5.47   5.28   3.85
48410   0.51   61.8   54.7   1970  5.12   5.15  31.80
49189   0.51   61.8   55.0   2075  5.15  31.80   5.12
50773   0.81   68.8   79.0   2301  5.26   5.20   3.58
52860   0.50   79.0   73.0   2579  5.21   5.18   4.09
52861   0.50   79.0   73.0   2579  5.21   5.18   4.09

In [166]:
df[esik_deger>df_scores]=pd.DataFrame(res,index=df[esik_deger>df_scores].index)

In [167]:
df[esik_deger>df_scores]

       carat  depth  table  price    x     y     z
6341    0.34   54.0   56.0   1012  4.8  4.76  2.58
10377   0.34   54.0   56.0   1012  4.8  4.76  2.58
24067   0.34   54.0   56.0   1012  4.8  4.76  2.58
31230   0.34   54.0   56.0   1012  4.8  4.76  2.58
36503   0.34   54.0   56.0   1012  4.8  4.76  2.58
38840   0.34   54.0   56.0   1012  4.8  4.76  2.58
41918   0.34   54.0   56.0   1012  4.8  4.76  2.58
45688   0.34   54.0   56.0   1012  4.8  4.76  2.58
48410   0.34   54.0   56.0   1012  4.8  4.76  2.58
49189   0.34   54.0   56.0   1012  4.8  4.76  2.58
50773   0.34   54.0   56.0   1012  4.8  4.76  2.58
52860   0.34   54.0   56.0   1012  4.8  4.76  2.58
52861   0.34   54.0   56.0   1012  4.8  4.76  2.58