**Varyans analizi:** 2 ya da daha fazla grup ortalaması arasında istatistiksel olaraka nalamlı bir 
    fark olup olmadığı öğrenilmek istediğinde kullanılır.

H0: M1 = M2 = M3 (grup ortalamalari arasinda ist anl. farklilik yoktur) 

H1: Fark vardir.

**problem:** anasayfada geçirilen süre artırılmak isteniyor.

**problem:** anasayfada geçirilen süre artırılmak isteniyor.

**detaylar**

Başarı kriteri ortalama ziyaret süresi, hemen çıkış oranı 

uzun zaman geçirnelerin reklamlara daha fazla tıkladığı ve bağlılıgın arttığı biliniyor

buna yönelik benzer haberler farklı resimer falan sunularak olusturulan farklı test grupları test ediliyor

A: Doğal sekilde 

B: Yönlendirici
    
C: İlgi çekici

H0: M1 = M2 = M3 (grup ortalamalari arasinda ist anl. farklilik yoktur) 

H1: Fark vardir.

In [4]:

import pandas as pd
A = pd.DataFrame([28,33,30,29,28,29,27,31,30,32,28,33,25,29,27,31,31,30,31,34,30,32,31,34,28,32,31,28,33,29])

B = pd.DataFrame([31,32,30,30,33,32,34,27,36,30,31,30,38,29,30,34,34,31,35,35,33,30,28,29,26,37,31,28,34,33])

C = pd.DataFrame([40,33,38,41,42,43,38,35,39,39,36,34,35,40,38,36,39,36,33,35,38,35,40,40,39,38,38,43,40,42])

dfs = [A, B, C]

ABC = pd.concat(dfs, axis = 1)
ABC.columns = ["GRUP_A","GRUP_B","GRUP_C"]
ABC.head()
#gruplar ve sitede geçirilen sürelerin listesi:

   GRUP_A  GRUP_B  GRUP_C
0      28      31      40
1      33      32      33
2      30      30      38
3      29      30      41
4      28      33      42

**VARSAYIM KONTROLÜ**

    1-) GRUPLAR BAĞIMSIZ : TAMAM
    2-) NORMALLİK VARSAYIMI : SHAPİRO TESTİ. ve 
    3-) HOMOJENLİK VARSAYIMI : LEVENE TESTİ (Levene testine bi bak )

In [14]:
from scipy.stats import shapiro
from scipy.stats import stats

In [15]:
#TEST2
shapiro(ABC["GRUP_A"])

(0.969743549823761, 0.5321813225746155)

In [16]:
shapiro(ABC["GRUP_B"])

(0.9789854884147644, 0.7979801297187805)

In [17]:
shapiro(ABC["GRUP_C"])

(0.9579201340675354, 0.273820161819458)

In [21]:
#her üçü içinde reddedemedik çünkü p value 0.05 ten küçük değil.
import scipy.stats as stats

In [24]:
#TEST3
stats.levene(ABC["GRUP_A"],ABC["GRUP_B"],ABC["GRUP_C"])

LeveneResult(statistic=1.0267403645055275, pvalue=0.36247110117417064)

In [25]:
#p value 0.05 ten yine küçük değil. hmojenlik varsayımımız da sağlandı.

**SIRA HİPOTEZİMİZİ UYGULAMAYA GELDİ...**

In [27]:
#HİPOTEZ TESTİ

In [29]:
from scipy.stats import f_oneway

In [30]:
f_oneway(ABC["GRUP_A"],ABC["GRUP_B"],ABC["GRUP_C"])

F_onewayResult(statistic=74.69278140730431, pvalue=1.3079050746811477e-19)

In [35]:
#daha temiz bir çıktı : 
print('{:.5f}'.format(f_oneway(ABC["GRUP_A"],ABC["GRUP_B"],ABC["GRUP_C"])[1]))

0.00000

H0 bize diyordu ki; 3 farklı durum arasında anlamlı bir fark yoktur 
ama biz hesapladığımız p value değerine bakınca H0 hipotezini reddediyoruz. 
RRREDDEDildi.

In [37]:
#bakalmm
ABC.describe().T

        count       mean       std   min    25%   50%    75%   max
GRUP_A   30.0  30.133333  2.224214  25.0  28.25  30.0  31.75  34.0
GRUP_B   30.0  31.700000  2.937862  26.0  30.00  31.0  34.00  38.0
GRUP_C   30.0  38.100000  2.808239  33.0  36.00  38.0  40.00  43.0

**ŞİMDİ VARSDAYALIM Kİ NORMALLİK VE HOMOJENLİK VARSAYIMLARIMIZ SAĞLANMADI VE 
TESTİMİZİ YAPAMADIK . BU DURUMDA NONPARAMETRİK TEST YAPMAMIZ GEREKİRDİ. 
BU SENARYOYA BİR GÖZ ATALIM**

In [38]:
#NONPARAMETRİK

In [39]:
#non parametrik için kullanılacak test, kruskal testi.
from scipy.stats import kruskal
kruskal(ABC["GRUP_A"],ABC["GRUP_B"],ABC["GRUP_C"])

KruskalResult(statistic=54.19819735523783, pvalue=1.7022015426175926e-12)

P-Value buradada 0.05 ten küçük çıktı. yine RRREDDdedildi

In [40]:
#yani istatistiksel olarak anlamlı farklılıkalr vardır